html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.ma__label--small {
  font-size: 1em; }

fieldset > * {
  margin-top: 20px; }

.ma__collapse {
  margin: 20px 0px; }
  .ma__collapse p {
    margin-bottom: 0rem; }
  .ma__collapse.collapsed {
    visibility: hidden;
    height: 0px; }
  .ma__collapse.collapsing, .ma__collapse.expanding {
    position: relative;
    overflow: hidden;
    visibility: visible;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease; }
  .ma__collapse.expanded {
    height: auto;
    visibility: visible;
    display: block; }

.ma__table {
  border-bottom: 3px solid #8AAAC7 !important; }
  .ma__table .ma__table-headers {
    border-top: 3px solid #8AAAC7 !important;
    border-bottom: 3px solid #8AAAC7 !important;
    background-color: #E7EEF4; }
  .ma__table .ma__td--group {
    padding-left: 0px !important; }

.ma__table-heading {
  margin: 20px 0px 30px;
  text-align: center; }

@media (max-width: 910px) {
  .ma_input-group--mobile-1 .ma__input-group__item.item-2 {
    width: calc(100% - 10px); } }

.input-range {
  margin-bottom: 50px; }

.input-range__track--active {
  background: #8AAAC7 !important; }

.input-range__slider {
  border: 1px solid white !important;
  background: #14558f !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

.input-range__label--value {
  top: -2rem !important; }
  .input-range__label--value .input-range__label-container {
    font-weight: 700;
    font-size: 1rem;
    color: #14558f; }

.ma__help-text {
  padding: 10px; }
