html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.ma__input-group--inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap; }
  @media (max-width: 620px) {
    .ma__input-group--inline .ma__input-number, .ma__input-group--inline .ma__input-currency__control {
      width: 100%; } }

.ma__label--small {
  font-size: 1em; }

fieldset > * {
  margin-top: 20px; }

.ma__collapse {
  margin: 20px 0px; }
  .ma__collapse p {
    margin-bottom: 0rem; }
  .ma__collapse.collapsed {
    visibility: hidden;
    height: 0px; }
  .ma__collapse.collapsing, .ma__collapse.expanding {
    position: relative;
    overflow: hidden;
    visibility: visible;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease; }
  .ma__collapse.expanded {
    height: auto;
    visibility: visible;
    display: block; }

.ma__table .ma__td--group {
  padding-left: 0px !important; }

.ma__table-heading {
  margin: 20px 0px 30px; }

.input-range {
  margin-bottom: 50px; }

.input-range__track--active {
  background: #8AAAC7 !important; }

.input-range__slider {
  border: 1px solid white !important;
  background: #14558f !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

.input-range__label--value {
  top: -2rem !important; }
  .input-range__label--value .input-range__label-container {
    font-weight: 700;
    font-size: 1rem;
    color: #14558f; }
